// Base palette
$black: #191919; //rgba(25, 25, 25, 100)
$darkGrey: #e5e5e5; //rgba(229, 229, 229, 100)
$lightGrey: #f9f9f9; //rgba(249, 249, 249, 100)
$yellow: #ffdc00; //rgba(255, 220, 0, 100)
$blue: #00487f; //rgba(0, 72, 127, 100)


$primary-color: $blue;
$action-color: $yellow;
$button-bg-color: $lightGrey;
$button-bg-color--active: $yellow;
$text-color: $black;
