.fse-flight {
  @include l-block;
  @include clearfix;
  border: 1px solid darken($box-background-color, 20%);
  background-color: $box-background-color;
  border-radius: 3px;
  margin-bottom: $rithm;
  padding: ($rithm / 2) ($rithm / 2) 0;

  @include media('>=tablet-landscape') {
    max-width: 100%;
    display: flex;
    align-items: center;
  }
}

.fse-flight__logo {
  @include media('>=tablet-landscape') {
    float: left;
    width: 20%;
    max-width: 20rem;
  }
}

.fse-flight__solution {
  @include clearfix;

  @include media('>=tablet-landscape') {
    float: left;
    width: 50%;
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

.fse-flight__flight {
  margin: $rithm 0;
  width: 50%;
  float: left;
  padding: 0 ($rithm / 2);

  @include media('>=tablet-landscape') {
    max-width: 10rem;
  }
}

.fse-flight__info {
  padding-bottom: ($rithm / 2);
  border-bottom: 1px dotted $primary-color;

  @include media('>=tablet-landscape') {
    border: 0;
  }
}

.fse-flight__code {
  margin-left: 2px;
}

.fse-flight__trip {
  margin: ($rithm / 2) 0;
}

.fse-flight__trip-label {
  @include section-heading;
  font-size: $h3-font-size;
}

.fse-flight__time {
  font-size: em($ratio-small);
  text-transform: uppercase;

  @include media('>=phablet') {
    letter-spacing: 1px;
  }
}

.fse-flight__price {
  @include section-heading;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: $rithm;
  padding: 0 ($rithm / 2);

  @include media('>=tablet-landscape') {
    margin-bottom: 0.25rem;
  }
}

.fse-flight__action {
  text-align: center;

  @include media('>=tablet-landscape') {
    float: right;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @include media('>=desktop') {
    width: 23%;
  }
}
