.fse-form-text-input__wrapper {
  @include fse-input-wrapper;

  > div {
    display: block !important; // because this PR is not yet accepted: https://github.com/zoeabryant/react-autocomplete/commit/6f0b53d98a1544b403ab255c54b06b7629c00019
  }
}

.fse-form-text-input__label {
  @include fse-input-label;
}

.fse-form-text-input__input {
  @include fse-input;
}

.fse-form-text-input__suggestion {
  padding: 2px 6px;
  cursor: default;
}

.fse-form-text-input__suggestion--is-highlighted {
  color: white;
  background: $primary-color;
  padding: 2px 6px;
  cursor: default;
}
