.fse-controls {
  padding: $rithm;
  margin-bottom: ($rithm * 2);
  background-color: $box-background-color;
}

.fse-controls__form {
  @include l-block;
}

.fse-controls__widget {
  margin-bottom: $rithm;
}

.fse-controls__filters {
  @include l-block;
  margin-top: ($rithm * 2);
}
