.fse-controls {
  padding: $rithm;
  margin-bottom: ($rithm * 2);
  background-color: $box-background-color;

  @include media('>=tablet-portrait') {
    width: 33.333%;
    max-width: 24rem;
    float: left;
    margin-bottom: 0;
    min-height: 100vh;
  }
}

.fse-controls__form {
  @include l-block;

  @include media('>=tablet-landscape') {
    max-width: 100%;
  }
}

.fse-controls__widget {
  margin-bottom: $rithm;
  position: relative;
}

.fse-controls__filters {
  @include l-block;
  margin-top: ($rithm * 2);
}
