.fse-controls {
  padding: $rithm;
  margin: 0 0 ($rithm * 2);
  background-color: $box-background-color;
}

.fse-controls__widget {
  margin-bottom: $rithm;
}

.fse-controls__filters {
  margin-top: ($rithm * 2);
}
