* {
  box-sizing: border-box;
}

html,
.no-js body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

p {
  margin: 0 0 $rithm;
}

img, audio, canvas, embed, object, video {
  display: block;
  max-width: 100%;
}

img {
  iframe[src*="maps.google"] & {
    max-width: auto;
    margin: auto;
  }
}

iframe {
  display: block;
}

blockquote {
  font-style: italic;
  color: black;
}

address {
  display: block;
  font-style: normal;
  margin-bottom: em($ratio-medium);
  white-space: pre-line;
}

ins {
  background: #ff9;
  color: black;
  text-decoration: none;
}

mark {
  font-style: italic;
}

pre {
  overflow-x: auto;
}

object {
  max-width: 100%;
}

hr,
.hr {
  clear: both;
  border: 0;
  margin-top: em($ratio-medium);
  margin-bottom: em($ratio-medium);
}

::selection {
  color: white;
  background-color: black;
}
