.fse-masthead {
  overflow: hidden;
  padding: 0 $rithm;
  background-color: $primary-color;
}

.fse-masthead__title {
  font-size: $ratio-medium;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
