.fse-masthead {
  position: relative;
  z-index: 100;
  overflow: hidden;
  padding: 0 $rithm;
  background-color: $primary-color;

  @include media('>=tablet-portrait') {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.fse-masthead__title {
  font-size: $ratio-medium;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
