.fse-masthead {
  overflow: hidden;
  border-bottom: 1px solid $primary-color;
  padding: 0 $rithm;
}

.fse-masthead__title {
  @include h2;
  color: $primary-color;
  text-transform: uppercase;
  letter-spacing: 1px;
}
